 
<div class="container mt-4">
    <h3>Employee List</h3>
    <table class="table table-bordered table-hover mt-3">
      <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Role</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <td>{{ emp.id }}</td>
          <td>{{ emp.name }}</td>
          <td>{{ emp.role }}</td>
          <td>{{ emp.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  